:root {
    --primary-color: #C96868; /* Soft red */
    --secondary-color: #7EACB5; /* Cool teal */
    --background-color: #FFF4EA; /* Warm beige */
    --text-color: #34495e; /* Navy text */
    --border-color: #e0e0e0; /* Light grey border */
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header, main, footer {
    padding: 20px;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

h1, h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

/* Updated Input Styles */
input[type="text"], input[type="email"] {
    width: 100%; /* Full width */
    padding: 15px; /* More padding for larger feel */
    font-size: 18px; /* Bigger font */
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box; /* Keep padding inside the box */
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #fdfdfd; /* Slight background contrast */
}

input[type="text"]::placeholder, input[type="email"]::placeholder {
    color: #999; /* Lighter placeholder text */
}

.submit-section {
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 24px; /* Bigger padding for a larger button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Slightly bigger font */
    transition: background-color 0.3s;
}

.submit-section:hover {
    background-color: #5e8a8b; /* Darker teal */
}

.question {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
}

.likert-scale {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.likert-scale label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(--text-color);
}

.likert-scale input[type="radio"] {
    margin-top: 5px;
}

button[type="submit"], .next-section {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 12px 24px; /* Bigger padding */
    font-size: 18px; /* Larger button text */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button[type="submit"]:hover, .next-section:hover {
    background-color: #6b9c9a; /* Darker shade */
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 8px 8px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}
